{deps, [
        {lager, "~>3.2.4"},
        {eleveldb, "~>2.2.20"},
        {riak_dt, "~>2.1.3"}
       ]}.

{dialyzer_base_plt_apps, [kernel, stdlib, erts, sasl, eunit, syntax_tools, compiler, crypto]}.
{xref_checks, [undefined_function_calls]}.
{erl_opts, [debug_info,
            warnings_as_errors,
            {platform_define, "^[0-9]+", namespaced_types},
            {parse_transform, lager_transform}]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{edoc_opts, [{preprocess, true}]}.



{relx, [
    {release, {plumtree, "0.0.2" },[
        plumtree
    ]},
    {extended_start_script, true},
    {overlay, [
        {mkdir, "data"}
    ]}
]}.
